<section class="section">
  <h3><strong>Here are all your shows, <%=current_user.username.capitalize %></strong></h3>
  <h4>Sort by:</h4>
  <a class="button is-link">Name</a> <a class="button is-link">Score</a>
</section>

<% @shows.each do |show| %>
<ul>
    <li><strong><%= show.title %></strong></li>
  <label>Score:</label>
  <strong><%= show.score %></strong><br>
</ul>
  <% end %>



  <% @show_scores.each do |show| %>
  <ul>
      <li><strong><%= show.title %></strong></li>
    <label>Score:</label>
    <strong><%= show.score %></strong><br>
  </ul>
    <% end %>
